@charset "UTF-8";
/* ===== CSS RESET / BASE ===== */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

/* Убираем странные дефолты браузеров */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

/* Изображения */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Формы */
input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

/* Ссылки */
a {
  text-decoration: none;
  color: inherit;
}

/* Списки */
ul,
ol {
  list-style: none;
}

/* Заголовки */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
}

/* Таблицы */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}
.header nav ul {
  display: flex;
}
.header nav ul li {
  margin-left: 50px;
}
.header nav ul li a {
  padding: 10px 20px;
}
.header nav ul li a :hover {
  opacity: 0.5;
}

.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 125px;
}
.counter h1 {
  margin-bottom: 100px;
}
.counter button {
  width: 500px;
  height: 100px;
  border-radius: 20px;
  color: #fff;
}
.counter__resylt {
  margin-bottom: 36px;
}
.counter__button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.counter__button-plus {
  background-color: #4191FF;
  margin-bottom: 35px;
}
.counter__button-reset {
  display: none;
  background-color: #D45366;
}

.open {
  display: block;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Manrope";
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
  margin: 0 auto;
}

.container {
  max-width: 1200px;
}