@use './mod/reset.scss';
@use './mod/header.scss';
@use './mod/counter.scss';

html {
    scroll-behavior: smooth;
}

body{
    font-family: "Manrope";
    font-weight: 700;
    font-size: 32px;
    letter-spacing: 0%;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
section {
    height: 500px;
    margin-bottom: 200px;
}



