.counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 125px;
    h1 {
    margin-bottom: 100px;
    }
    button {
        width: 500px;
        height: 100px;
        border-radius: 20px;
        color: #fff;
    };
    &__resylt {
        margin-bottom: 36px;
    };
    &__button {
    display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &__button-plus {
        background-color: #4191FF;
        margin-bottom: 35px;

    }
    &__button-reset {
        display: none;
        background-color: #D45366;
    }
}
.open {
    display: block;
}