.header {
    display: flex;
    position: sticky;
    z-index: 1000;
    top: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    margin-top: 20px;
    nav {
        ul {
            display: flex;
            li {
                margin-left: 50px;
                a {
                    padding: 10px 20px;
                    &:hover {
                        opacity: 0.5;
                    }
                }
            }
        };
    };
    .logo{
        width: 200px;
        height: 60px; 
    }
}